{% extends 'tamplate.html.twig' %}

{% block body %}
    <h1>Portfeuille</h1>

    <div>
        <img src="{{ asset('web/uploads/annonce/' ~ portfeuille.getPhoto) }}"  height="250" width="250"  alt="...">
    </div>

    <table>
        <tbody>

            <tr>

                <td>{{ portfeuille.fullName }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{% if portfeuille.birthDate %}{{ portfeuille.birthDate|date('Y-m-d') }}{% endif %}</td>
            </tr>

            <tr>
                <th>Education</th>

                {% for education in educations %}

                <tr>
                <th style="color: #00b44e">{{ education.typeofeducaion }}</th></tr>
            <tr>
                <td>{% if education.dateDeb %}{{ education.dateDeb|date('Y-m-d') }}{% endif %}</td>
                <td>{% if education.dateFin %}{{ education.dateFin|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <td>{{ education.descrption }}</td></tr>

            {% endfor %}


            <tr>
                <th>Workexperience</th>
                {% if workexperiences is defined %}
                {% for workexperience in workexperiences %}
            <tr>
                <th style="color: #00b44e">{{ workexperience.expeiences }}</th></tr>

                <tr>
                    <td>{% if workexperience.dateDebut %}{{ workexperience.dateDebut|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if workexperience.dateFin %}{{ workexperience.dateFin|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                <td>{{ workexperience.descrpiton }}</td>
                </tr>

            {% endfor %}{% else %}
                No workexperiences found.
            {% endif %}
            <tr>
                <th>Skills</th>
                {% if skills is defined %}
                {% for skill in skills %}
            </tr>
            <tr>

                    <td>{{ skill.skill }}</td>

                <td class="progress-bar bg-primary" style="width:{{ skill.pourcentage }} ">{{ skill.pourcentage }}/100</td>
            </tr>

                {% endfor %}
            {% else %}
                No skills found.
            {% endif %}

            <tr>
                <th>Interests</th>
                {% if interests is defined %}
                {% for interest in interests %}
            </tr>
            <tr>

                <th style="color: #00b44e">{{ interest.interest }}</th>
            </tr>
            <tr>
                <td>{{ interest.description }}</td>
            </tr>
            {% endfor %}
            {% else %}
                No interests found.
            {% endif %}
            <tr>
                <th>contact</th>

                {% if contacts is defined %}
                {% for contact in contacts %}
            </tr>

                <tr><th style="color: #00b44e">adress</th></tr>
                <tr><td>{{ contact.adress }}</td></tr>
                <th style="color: #00b44e">phone</th>
                <tr><td>{{ contact.phone }}</td></tr>
                <th style="color: #00b44e">mail</th>
                    <tr><td>{{ contact.mail }}</td>
                </tr>
                {% endfor %}
            {% else %}
                No contacts found.
            {% endif %}

        </tbody>
    </table>

    <ul>

        <li>
            <a href="{{ path('portfeuille_edit', { 'id': portfeuille.id }) }}">Edit</a>
        </li>


    </ul>
{% endblock %}
